@import url(https://fonts.googleapis.com/css?family=PT+Mono);
@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
    background-color: #3c4677;
    color: white;
}

.button {
    font-weight: 100;
    padding: 1em 1.25em;
    width: 200px;
    color: white;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
    cursor: pointer;
}
.button:hover{
    color:#fee2e2;
}
.button.raised {
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    background: #7a9986;
    box-shadow: 0px 1px 1px #085a9b;
}
.button.raised:active {
    background: #0c7dd8;
    box-shadow: 0px 1px 1px #063e6b;
}

#generate-button {
    font-family: 'PT Mono';
    margin-top: 50px;
    margin-bottom: 50px;
}
.title{
    font-family: 'PT Mono';
}

.box {
    background-color: #26A69A;
    color: #fee2e2;
    border-radius: 2px;
    padding: 1em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.quote {
    font-size: 40px;
    font-family: 'Lobster';
    text-align: right;
}

.author {
    font-size: 30px;
    font-family: 'Lobster';
    text-align: right;
}
#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#loading {
    position: absolute;
    top: 30%;
    left: 40%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;
}
li a.active{
    background-color: #111; 
}

li a:hover {
    color : white;
    background-color: #111;
}